.Myprojects{
    margin:20px 98px;
}
.Myprojects h1{
    margin:23px;
    text-align: center;
}
.project{
    margin:20px;
}
.project h2{
    margin:12px;
}
.project p{
    margin:12px;
}
button{
    padding:9px 10px;
    border-radius: 20px;
    color:rgb(174, 43, 226);
    background-color: rgb(255, 240, 246);
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
h1{
    color:black;
    text-shadow: 1px 2px 3px #efefef;
    text-align: center;
    /* font-size: 5rem; */
    text-transform: uppercase;
    margin-top: 40px;
    
}
